* {box-sizing: border-box;}
body {
	background-color: #dcdde1;
}
body > h1 {
	text-transform: uppercase;
	text-align: center;
}
.contactForm {
	box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    position: fixed;
    left: 30px;
    top: 20px;
    width: 250px;
    padding: 10px;
    background-color: #40739e;
}
.contactItem {
	background-color: #40739e;
	padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: -ms-flexbox;
    display: flex;
}
.contactData {
	padding: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
}
.contactData > p,
 .contactData > a {
	font-size: 21px;
	color: #f5f6fa;
}
button {
	height: 35px;
	background-color: #dcdde1;
    color: #626262;
	border: 0;
}
input {
	height: 35px;
	margin-bottom: 10px;
}
#app {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
}
